@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v23/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYA.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v23/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvsUZiYA.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v16/mem6YaGs126MiZpBA-UFUK0Zdcg.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
.navFont {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #9197ae;
  font-size: 1.8rem;
  padding: 1.2rem;
  letter-spacing: 1px;
  transition: color 200ms ease-out;
}
.navFont:hover,
.navFont:active {
  color: white;
}
.mainLayout {
  height: 100vh;
  width: 81%;
  margin-left: 19%;
  padding: 4.8rem 4.8rem;
  background: #dfe7e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.paragraphText {
  font-size: 2.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 3.2rem;
  color: #242424;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
}
.sidebar {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 19%;
  height: 100%;
  background: #001021;
  padding: 4.8rem 0;
}
.sidebar .sidebar__image {
  width: 65%;
  height: 25%;
  background: url(../images/sidebar-img.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-bottom: 4.8rem;
}
.sidebar .sidebar__nav {
  height: 65%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sidebar .sidebar__nav .nav-link {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #9197ae;
  font-size: 1.8rem;
  letter-spacing: 1px;
  transition: color 200ms ease-out;
  padding: 1.2rem;
}
.sidebar .sidebar__nav .nav-link:hover,
.sidebar .sidebar__nav .nav-link:active {
  color: white;
}
.sidebar .sidebar__nav i {
  font-size: 4rem;
}
.sidebar .sidebar__nav .active-link {
  color: white;
}
#about {
  height: 100vh;
  width: 81%;
  margin-left: 19%;
  padding: 4.8rem 4.8rem;
  background: #dfe7e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#about .about__header {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #242424;
}
#about .about__header .about__name {
  font-family: 'Oswald', sans-serif;
  font-size: 12rem;
  font-weight: 500;
  color: #2c365e;
  position: relative;
}
#about .about__header .about__sub {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 2.3rem;
  letter-spacing: 1px;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  color: #242424;
  font-style: italic;
}
#about .about__header .about__sub .star {
  font-size: 0.6rem;
  margin: 0 1rem;
  vertical-align: middle;
}
#about .about__description {
  margin: 2.5rem 0;
  width: 80%;
  font-size: 2.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 3.2rem;
  color: #242424;
}
#about .about__social {
  width: 40%;
  margin-top: 2rem;
  font-size: 4.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#about .about__social .social-link {
  color: #9197ae;
  padding: 1rem;
  transition: color 200ms ease-out;
}
#about .about__social .social-link:hover {
  color: #445492;
}
