.displayFlex(@d: row, @j: center, @a: center) {
    display: flex;
    flex-direction: @d;
    justify-content: @j;
    align-items: @a;
}

.bgImage(@size: cover, @position: center) {
    background-size: @size;
    background-position: @position;
}


.navFont {
    font-family: @Open-Sans;
    text-decoration: none;
    text-transform: uppercase;
    color: @nav-gray;
    font-size: 1.8rem;
    padding: 1.2rem;
    letter-spacing: 1px;
    transition: @linkHover;

    &:hover, &:active {
        color: white;
    }
}

.mainLayout {
    height: 100vh;
    width: 81%;
    margin-left: 19%;
    padding: 4.8rem 4.8rem;
    background: @bg-light;
    .displayFlex(column, center, flex-start);

    .main-layout__header {
        font-size: 8rem;
        text-transform: uppercase;
        font-family: @Oswald;
        letter-spacing: 2px;
        color: @text-navy;
        margin-left: 2rem;
    }

    .main-layout__content {
        height: 75%;
        width: 100%;
    }
}

.paragraphText {
    font-size: 2.2rem;
    font-family: @p;
    // font-weight: 300;
    line-height: 3.2rem;
    color: @text-dark;
}
